html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: #41484b;
    background-color: #011730;
    overflow: hidden;
}

#homeFullScreen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#homeFullScreen {
    background-image: url('../images/cringe\ code\ background.jpg');
    overflow: hidden;
}

#homeFullScreen {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}
.header-text h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header-text span {
    font-size:25px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #fff;
}

.arrow {
    position:relative;
    box-sizing:border-box;
    width:fit-content;
    left: 50%;
    top:25vh;
    transform: translate(-50%, 0);
    transition-duration:0.4s;
    cursor:pointer;
    height:50px;
    padding:50px;
}
.arrow:hover {
    top:26vh;
}
.arrow .left {
    height: 7px;
    background-color: #fff;
    width: 50px;
    transform: rotate(50deg);
    margin-left:-10px;

}

.arrow .right {
    height: 7px;
    background-color: #fff;
    width: 50px;
    transform: rotate(-50deg);
    margin-left:20px;
    margin-top:-6px;
}


/* portfolio */

.portfolio {
    width: 100%;
    color:white;
}
.portfolio-container .nav {
    background-color: #000f21;
    width:10%;
    height:100%;
    position:relative;
}
.portfolio-container .nav div {
    height:25vh;
}
.portfolio-container nav div button {
    display:block;
    margin:auto auto auto auto;
    border:none;
    border-radius:10px;
    background-color:transparent;
    transition-duration: 0.4s;
    width:100%;
    padding:20px 20px;
}
.portfolio-container nav button:hover {
    background-color:blue;
}

.portfolio-container .mobile-nav {
    display:none;
    position:relative;
    width:100%;
    height:75px;
    background-color: #000f21;
}
.portfolio-container .mobile-nav .bar img {
    width:50px;
}
.portfolio-container .mobile-nav .bar a {
    float:right;
    margin-right:10px;
    margin-top:10px;
}
.portfolio-container .mobile-nav .dropdown {
    background-color: #000f21;
    height:fit-content;
    top:75px;
    display:none;
}
.portfolio-container .mobile-nav button, .portfolio-container .mobile-nav a {
    cursor:pointer;
}
.content-container {
    color:white;
    margin-top:-102vh;
    margin-left:200px;
    width:80vw;
}
.content-container .aboutme {
    width:100%;
}

.aboutme, .myskills, .mywork, .contact {
    transition-duration:0.4s;
}

.aboutme .text {
    margin-top:200px;
    margin-left:20%;
    width:50vw;
}
.aboutme img {
    width:250px;
    border:3px solid black;
    border-radius:10px;
}
.aboutme div {
    width:50%;
    display:inline-block;
}
.aboutme .imgbox {
    float:right;
}
.aboutme p {
    font-size:30px;
}
.myskills {
    display:none;
    margin:5% auto auto auto;
    width: 90%;
}
.myskills p {
    margin-top:4%;
}
.myskills * {
    box-sizing:border-box;
}

.myskills .container {
    width: 100%;
    background-color: #ddd;
    border-radius:20px;
}

.myskills .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:-15px;
    color: white;
}

.myskills .html, .myskills .css, .myskills .js, .myskills .php, .myskills .sql, .myskills .java {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.myskills .html {
    width: 90%;
    background-color: #04AA6D;
}
.myskills .css {
    width: 85%;
    background-color: #2196F3;
}
.myskills .js {
    width: 70%;
    background-color: #f44336;
}
.myskills .php {
    width: 80%;
    background-color: #808080;
}
.myskills .sql {
    width: 65%;
    background-color: #4dd2a9;
}
.myskills .java {
    width:30%;
    background-color: #f48836;
}
.mywork {
    display:none;
}
.grid-container {
    margin-top:100px;
    display:grid;
    grid-template-areas: "auto auto auto";
    grid-row-gap: 12vh;
    grid-column-gap: 7vw;
    justify-content: center;
    align-content: center;
}
.grid-container .area {
    grid-area: auto;
    background-color: #01234a;
    width:100%;
    height:130%;
    border:3px solid #012d60;
    overflow:hidden;
    border-radius:20px;
}
.grid-container h3, .grid-container h3:visited, .grid-container h3:active {
    margin-left:10px;
    color:white;
}
.grid-container .area img {
    margin-left:-3px;
    width:300px;
}
.contact {
    margin:10% auto auto auto;
    width: fit-content;
    font-size:20px;
    display:none;
}
.contact iframe {
    margin-top:50px;
}
@media all and (max-width:780px) {
    body {
        overflow:show;
    }
    .nav {
        display:none;
    }
    .portfolio-container .mobile-nav {
        display:block;
    }
    .content-container {
        margin-left:auto;
        margin-right:auto;
        width:100%;
    }
    .aboutme p {
        font-size:20px;
    }
    .aboutme .imgbox {
        float: none;
    }
    .aboutme .text {
        width:100%;
        margin-top:20px;
    }
    .myskills {
        margin-top:200px;
    }
    .grid-container {
        grid-template-areas: "auto auto";
        grid-column-gap:2vh;
        margin-top:130px;
        margin-left:20px;
    }
    .grid-container .area {
        width:90%;
    }
    .contact {
        margin-top:150px;
    }
    .contact p, .contact h1, .contact a {
        margin-left:20px;
    }
    .contact iframe {
        width:600px;
    }
}
